<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/AlT591">Adalberto Trujillo</a>(Al) is a Engineering Technican at Samsung Austin Semiconductor. Previouse job experience as an Avionics Technican with Bell Helicopter in Amarillo, Texas. Followed by working General Aviation as an Avionics install Technican for Santa Fe Aero Servies, installing Garmin Radio stack equipment on light weight single engine Cessna aircrafts.
  </p>
  <br />
  
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Adalberto Trujillo</h2>
      <br />

    <p>
    In the present day Al is persuing a career in Web Development through the The University of Texas coding bootcamp. His studies are focused on learning the necessary computer languages to become a full stack web developer. 
  </p>




</div>

<br class="clear" />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />